//Escala de grises
$black: #000;
$gray-1: #222;
$gray-2: #444;
$gray-3: #666;
$gray-4: #888;
$gray-5: #AAA;
$gray-6: #CCC;
$gray-7: #DDD;
$gray-8: #EEE;
$gray-9: #F5F5F5;
$gray-0: #E5D5D5;
$white: #FFF;

// Verdes
$green-1: #91DA90;
$green-2: #E2F862; 
$green-3: #00B02E; 
$green-4: #029729;


// Celestes
$light-blue-1: #D9EEF1;
$light-blue-2: #3CC8F1;
$light-blue-3: #10ADDA;
$light-blue-4: #0F9BC4;


// Azules
$blue-1: #5C8FE0;
$blue-2: #2D72E1;
$blue-3: #0050D0; 
$blue-4: #003FA3;


// Amarillos
$yellow-1: #FCF7C5;
$yellow-2: #FFF68F;
$yellow-3: #FFF157;
$yellow-4: #FAE829;


// Naranjas
$orange-1: #FF8115;
$orange-2: #FFE066;
$orange-3: #FFD324;
$orange-4: #F06E30;


// Rojos
$red-1: #FF1800;
$red-2: #F7432C;
$red-3: #EB1B00;
$red-4: #DB1C00;


//social
$fb-color: #3664A2;
$fb-color-hover: #4B7EC2;
$fb-color-active: #2B4F80;

$gp-color: #DF4931;
$gp-color-hover: #E46852;
$gp-color-active: #BE371F;

$tw-color: #55ACEE;
$tw-color-hover: #55ACEE;
$tw-color-active: #55ACEE;

//Fuentes

$sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$logo: 'super-cube', cursive;
$serif: serif;

// Cuerpos tipograficos
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-13: 13px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-36: 36px;



